{% extends 'base.html' %} 
{% load static %}
{% block title %}Cart{% endblock title %} 
{% block quantityCSS %}
#quan{
  display: flex;
}
#quan a{
  border: 0.5 solid black;
  box-shadow: 0 0 3px black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#quan span{
  border: 0.5 solid black;
  box-shadow: 0 0 3px black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minus{
  width: 25px;
  height: 25px;
  font-size:25px;
  color:white;
  background-color: rgb(214, 43, 57);
  cursor:pointer;
}
.plus{
  width: 25px;
  height: 25px;
  font-size:25px;
  color:white;
  background-color: green;
  cursor:pointer;
}
.quant{
  width: 25px;
  height: 25px;
}
.remove{
  border: 0.5 solid black;
  box-shadow: 0 0 1px black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:10px;
  width: 65px;
  height: 25px;
  background-color: rgb(214, 43, 57);
}
{% endblock quantityCSS %}

{% block total_product %}
{{total_product}}
{% endblock total_product %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <h1 class="mb-5 text-center fw-bold text-uppercase fs-4" style="margin-top: 50px !important;">Welcome to Your Cart Listing Page</h1>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          {% for c in carts %}
          <div class="row">
            <h3>Item {{forloop.counter}}</h3>
            <br>
            <a class="col-sm-3 text-center align-self-center"  href="{% url 'myapp:cartproductdetail' c.product.id %}">
              <img
                src="{{c.product.images.url}}"
                alt=""
                srcset=""
                class="img-fluid img-thumbnail shadow-sm"
                height="150"
                width="150"
              />
            </a>
            <div class="col-sm-9">
              <div>
                <h5 class="fs-4">{{c.product.name}}</h5>
                <p class="mb-2 text-muted fs-5">
                  Brand: {{c.product.brand}}
                </p>

                <div class="my-3" id="quan">
                  <label for="quantity">Quantity:</label> &nbsp&nbsp&nbsp
                  <a class="minus" pid="{{c.product.id}}">
                    -
                  </a>
                  <span class="mx-2 quant" id="quantity">{{c.quantity}}</span>
                  <a class="plus" pid="{{c.product.id}}">
                    +
                  </a>                 
                </div>
                <div class="d-flex justify-content-between">                 
                  <p class="mb-0">
                    <span>Price: &nbsp ₹</span>
                    <span id="price"> {{c.product.discounted_price}}</span>
                  </p>
                  <a id="remove" class="btn btn-sm remove-item btn-secondary mr-3" pid="{{c.product.id}}">
                    Remove              
                  </a>
                </div>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <br>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3>Price Details</h3>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
            >
              Amount Rs.<span id = "amount"> {{amount}}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center px-0"
            >
              Shipping<span>Rs. 70.00</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
            >
              <div><strong>Total</strong> <small>(including VAT)</small></div>
              <span><strong>Rs. <strong id="totalamount">{{totalamount}}</strong></strong></span>
            </li>
          </ul>
          
          <div class="d-grid">
            <a href="{% url 'myapp:placeorder' %}" class="btn btn-primary"
              >Place Order</a
            >
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block quantityJS %}

$('.plus').click(function(){
  var id = $(this).attr("pid").toString();
  var eml = this.parentNode.children[2]
  $.ajax({
    type:"GET",
    url:"/pluscart",
    data:{
      prod_id : id
    },
    success:function(data){
      eml.innerText = data.quantity
      document.getElementById("amount").innerText = data.amount
      document.getElementById("totalamount").innerText = data.totalamount
    },
  }) 
})

$('.minus').click(function(){
  var id = $(this).attr("pid").toString();
  var eml = this.parentNode.children[2]
  $.ajax({
    type:"GET",
    url:"/minuscart",
    data:{
      prod_id : id
    },
    success:function(data){
      eml.innerText = data.quantity
      document.getElementById("amount").innerText = data.amount
      document.getElementById("totalamount").innerText = data.totalamount
    },
  }) 
})

$('.remove-item').click(function(){
  var id = $(this).attr("pid").toString();
  var eml = this
  $.ajax({
    type:"GET",
    url:"/removecart",
    data:{
      prod_id : id
    },
    success:function(data){
      document.getElementById("amount").innerText = data.amount
      document.getElementById("totalamount").innerText = data.totalamount
      eml.parentNode.parentNode.parentNode.parentNode.remove()
    },
  }) 
})
{% endblock quantityJS %}
