<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'image/online-shop.png' %}" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!--Tailwind CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="stylesheet" href="{% static 'css/productdetails.css' %}">
    <title>ShopMe | {% block title %} {% endblock title %}</title>

    <style>
      {% block quantityCSS %}{% endblock quantityCSS %}
    </style>
  </head>

  <body style="background-color:#f1f3f6;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #aad7e9 !important;">
      <div class="container-fluid">
        <a href="/"><img src="{% static 'image/logo.png' %}" style="max-width: 100%;height: auto; margin-left:2em"></img></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="d-grid gap-3 d-md-flex navbar-nav ml-auto mr-24">

            {% if request.user.is_authenticated %}
              <li "nav-item me-md-2">
                {% block search %}
                {% endblock search %}
              </li>
                <li>
                  <li class="nav-item me-md-0" style="margin-left: 13em;">
                    <a class="nav-link d-flex align-items-center" style="font-size: 1.5em;font-family: Nunito,sans-serif;color: #443e65;" href="{% url 'myapp:profile' %}">
                      <img class="icons" alt="Account" src="{% static 'image/account.png' %}"></img>
                      <h5 class="d-inline" style="font-family: Nunito,sans-serif;color: #443e65;">{{request.user.username|capfirst}}</h5>
                    </a>
                  </li>
                  <li class="nav-item me-md-0">
                    <a class="nav-link d-flex align-items-center" href="{% url 'myapp:showcart' %}">
                      <img class="icons" alt="Cart" src="{% static 'image/cart.png' %}"></img>
                      <span class="badge bg-danger" style="border-radius: 1em;padding: 4px 8px;font-size: 1.2em;margin-left: -2em;margin-bottom: 1em;">{% block total_product %}{% endblock total_product %}</span>
                    </a>
                  </li>
                  <li class="nav-item me-md-0">
                    <a class="nav-link d-flex align-items-center" style="font-size: 1.5em;font-family: Nunito,sans-serif;color: #443e65;" href="{% url 'myapp:logout' %}">
                      <img class="icons" alt="Account" src="{% static 'image/logout.png' %}"></img>
                      <h5 class="d-inline" style="font-family: Nunito,sans-serif;color: #443e65;">Logout</h5>
                    </a>
                  </li>
                </li>
            {% else %}

            <li class="nav-item mx-2">
              <a class="nav-link d-flex align-items-center" style="font-size: 1.5em;font-family: Nunito,sans-serif;color: #443e65;" href="{% url 'myapp:login' %}">
                <h5 class="d-inline" style="font-family: Nunito,sans-serif;color: #443e65;">Login</h5>
                <img class="icons" alt="Account" src="{% static 'image/login.png' %}"></img>
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link d-flex align-items-center" style="font-size: 1.5em;font-family: Nunito,sans-serif;color: #443e65;" href="{% url 'myapp:customerregistration' %}">
                <h5 class="d-inline" style="font-family: Nunito,sans-serif;color: #443e65;">Register</h5>
                <img class="icons" alt="Account" src="{% static 'image/register.png' %}"></img>
              </a>
            </li>
            {% endif %}
          </ul>     
        </div>
      </div>
    </nav>

    {% block filter %}{% endblock filter %}

    {% block content %}{% endblock content %}
    
    {% block footer %}
    <footer class="container-fluid bg-dark text-center p-2 mt-5 fixed-bottom">
      <small class="text-white">Copyright &copy; ShopMe 2023</small>
    </footer>
    {% endblock footer %}

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script href="{% static 'js/index.js' %}">  
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% comment %} <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}
    <script>
      {% block quantityJS %}{% endblock quantityJS %}
    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
  </body>
</html>
