<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!--Tailwind CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="stylesheet" href="{% static 'css/productdetails.css' %}">
    <title>ShopMe | {% block title %} {% endblock title %}</title>

    <style>
      {% block quantityCSS %}{% endblock quantityCSS %}
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" >
      <div class="container-fluid">
        <a class="btn btn-outline-primary fs-1" type="button" href="/" style="margin-left: 10% !important;"><h2>ShopMe</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="d-grid gap-3 d-md-flex justify-content-md-end">

            {% if request.user.is_authenticated %}
              <li "nav-item me-md-2" style="margin-left: 25rem!important;">
                {% block search %}
                {% endblock search %}
              </li>
                  <li class="nav-item me-md-2">
                    <a type="button" class="btn btn-outline-primary" href="{% url 'myapp:profile' %}">{{request.user.username|capfirst}}</a>
                  </li>
                  <li class="nav-item me-md-2" >
                    <a type="button" class="btn btn-outline-warning" href="{% url 'myapp:showcart' %}">
                      My Cart <span class="badge bg-success ">{% block total_product %}{% endblock total_product %}</span>
                    </a>
                  </li>
                  <li class="nav-item me-md-2">
                    <a type="button" class="btn btn-outline-danger" href="{% url 'myapp:logout' %}">Logout</a>
                  </li>
              </li>
            {% else %}

            <li class="nav-item mx-2">
              <a type="button" class="btn btn-outline-primary" style="margin-left: 65rem!important;" aria-current="page" href="{% url 'myapp:login' %}">Login</a>
            </li>
            <li class="nav-item mx-2">
              <a type="button" class="btn btn-outline-success" style="margin-left: 3rem!important;" aria-current="page" href="{% url 'myapp:customerregistration' %}">Register</a>
            </li>
            {% endif %}
          </ul>     
        </div>
      </div>
    </nav>

    {% block filter %}{% endblock filter %}

    {% block content %}{% endblock content %}
    
    {% block footer %}
    <footer class="container-fluid bg-dark text-center p-2 mt-5 fixed-bottom">
      <small class="text-white">Copyright &copy; ShopMe 2023</small>
    </footer>
    {% endblock footer %}

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script href="{% static 'js/index.js' %}">  
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% comment %} <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}
    <script>
      {% block quantityJS %}{% endblock quantityJS %}
    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
  </body>
</html>
