{% extends 'base.html' %}
{% load static %}
{% block title %}Filter{% endblock title %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto"  >
        <div class="flex flex-wrap -m-4">
            {% for product in filter %}
            <div  class="lg:w-1/4 md:w-1/2 product-4 w-full">
                <a href="{% url 'product-detail' product.id %}" class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product.category}}</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">{{product.name}}</h2>
                    <p class="mt-1"><h3>₹ {{product.price}} <b>Now only at ₹ {{product.discounted_price}}</b></h3></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<p>sdfsddsf</p>

{% endblock content %}