{% extends 'base.html' %}
{% load static %}
{% block title %}Help & Support{% endblock title %}

{% block total_product %}
{{total_product}}
{% endblock total_product %}

{% block content %}
<h3 class="text-center my-3 fw-bold text-uppercase fs-3">Welcome Back {{request.user}}</h3>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'myapp:profile' %}" class="btn">Profile</a></li>
        <li class="d-grid"><a href="{% url 'myapp:address' %}" class="btn">Address</a></li>
        <li class="d-grid"><a href="{% url 'myapp:orders' %}" class="btn">Orders</a></li>
        <li class="d-grid"><a href="{% url 'myapp:passwordchange' %}" class="btn">Change Password</a></li>
        <li class="d-grid"><a href="{% url 'myapp:helpsupport' %}" class="btn {{active}}">Help & Support</a></li>
      </ul>
    </div>
    <div class="col-sm-8 offset-sm-1">
      <form action="" method="post" novalidate>
        {% csrf_token %}

        {% for f in form %}
          <div class="form-group col-lg-6 mb-3">
            {{f.label_tag}} {{f}} 
              <small class="text-danger">
                {{f.errors|striptags}}
              </small>
          </div>
        {% endfor %}
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary mb-3">Request Help</button>
        </div>
      </form>
      {% if messages %}
        {% for m in messages %}
          <p {% if m.tags %} class="alert alert-{{m.tags}} mb-5" {% endif %}>
            {{m}}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}