{% extends 'base.html' %}
{% load static %} 
{% block title %}Orders{% endblock title %}

{% block total_product %}
{{total_product}}
{% endblock total_product %}

{% block content %}

<h3 class="text-center my-3 fw-bold text-uppercase fs-3">Welcome Back {{request.user}}</h3>
<div class="container my-5">
  <div class="row">
        <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'myapp:profile' %}" class="btn">Profile</a></li>
            <li class="d-grid"><a href="{% url 'myapp:address' %}" class="btn">Address</a></li>
            <li class="d-grid"><a href="{% url 'myapp:orders' %}" class="btn btn-primary">Orders</a></li>
            <li class="d-grid"><a href="{% url 'myapp:passwordchange' %}" class="btn">Change Password</a></li>
            <li class="d-grid"><a href="{% url 'myapp:helpsupport' %}" class="btn">Help & Support</a></li>
        </ul>
        </div>
        <div class="col-sm-8 ml-2">
            {% for order in page_obj %}
            <div class="row">
                <small>{{order.date_ordered}}</small></br>
                <hr>
                <br>
                <a class="col-sm-2 text-center align-self-center" href="{% url 'myapp:productdetail' order.product.id%}">
                    <img src="{{order.product.images.url}}" alt="" class="img-fluid img-thumbnail shadow-sm" srcset="" height="130" width="130">
                </a>
                <div class="col-sm-5">
                    <div>
                        <p>Product : {{order.product.name}}</p>
                        <p>Quantity : {{order.quantity}}</p>
                        <p>Price : {{order.price}}</p>
                        <small>Order ID : {{order.razor_pay_order_id}}</small></br>
                        <small>Transaction ID : {{order.razor_pay_payment_id}}</small></br>
                    </div>
                </div>
            </div>
          <br>
          {% endfor %}
          <div class="pagination">
            <span>
                {% if page_obj.has_previous %}
                    <a class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                {% endif %}
        
                {% if page_obj.has_next %}
                    <a class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </span>
          </div>
            <div class="container my-5">
                <div class="row">
                    <h3 class="text-center">{{content}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}