{% extends 'base.html' %}
{% load static %} 
{% block title %}Orders{% endblock title %}

{% block total_product %}
{{total_product}}
{% endblock total_product %}

{% block content %}

<h3 class="text-center my-3 fw-bold text-uppercase fs-3">Welcome Back {{request.user}}</h3>
<div class="container my-5">
  <div class="row">
        <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'myapp:profile' %}" class="btn">Profile</a></li>
            <li class="d-grid"><a href="{% url 'myapp:address' %}" class="btn">Address</a></li>
            <li class="d-grid"><a href="{% url 'myapp:orders' %}" class="btn btn-primary">Orders</a></li>
            <li class="d-grid"><a href="{% url 'myapp:passwordchange' %}" class="btn">Change Password</a></li>
            <li class="d-grid"><a href="{% url 'myapp:helpsupport' %}" class="btn">Help & Support</a></li>
        </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
           {% for order in order %}
            <div class="row">
                <h3 class = "fs-5 fw-bold">Order {{forloop.counter}}</h3>
                <small>{{order.date_ordered}}</small></br>
                <br>
                <br>
                <a class="col-sm-2 text-center align-self-center" href="{% url 'myapp:productdetail' order.product.id%}">
                    <img src="{{order.product.images.url}}" alt="" class="img-fluid img-thumbnail shadow-sm" srcset="" height="130" width="130">
                </a>
                <div class="col-sm-5">
                    <div>
                        <p>Product : {{order.product.name}}</p>
                        <p>Quantity : {{order.quantity}}</p>
                        <p>Price : {{order.price}}</p>
                        <small>Order ID : {{order.razor_pay_order_id}}</small></br>
                        <small>Transaction ID : {{order.razor_pay_payment_id}}</small></br>
                    </div>
                </div>
            </div>
          <br>
          <hr>
          <br>
          {% endfor %}
            <div class="container my-5">
                <div class="row">
                    <h3 class="text-center">{{content}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<div class="row shadow-sm mb-3">
    <div class="col-sm-2">
        <img src="{{order.product.images.url}}" alt="" class="img-fluid" srcset="" height="100" width="100">
    </div>    
    <div class="col-sm-2">
        <p>Product : {{order.product.name}}</p>
        <p>Quantity : {{order.quantity}}</p>
        <p>Price : {{order.totalamount}}</p>
    </div>