{% extends 'base.html' %} 
{% load static %} 
{% block title %}Password Reset{% endblock title %}

{% block total_product %}
{{total_product}}
{% endblock total_product %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <h3 class="text-center fs-4" style="margin-top: 200px !important;">
        <p>
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
          </p>
          <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
          </p>
      </h3>
    </div>
  </div>
{% endblock content %}