{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
 {% comment %} <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-danger">Change Password</a></li>
   </ul>
  </div> {% endcomment %}
  <div class="col-sm-9 offset-sm-1">
    <h3> Password Reset Confirm</h3>
   <form action="" method="POST" novalidate class="shadow-sm p-5">
    {% csrf_token %}

    {% for f in form %}
     <div class="form-group">
       {{f.label_tag}} {{f}} 
       <small class"text-danger">{{f.errors|striptags}}</small>
       <br>
     </div>
    {% endfor %}

    <input type="submit" class="btn btn-primary mt-4" value="Save">

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock content %}