{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}

{% block total_product %}
{{total_product}}
{% endblock total_product %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-5 mx-auto">
      {% comment %} <h1 class="text-gray-900 text-3xl title-font font-medium mb-1" style="padding-left: 5em;padding-bottom: 1em;">{{product.category}}</h1> {% endcomment %}
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width:500px">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
              {% for object in productImages%}
              <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <img src="{{object.images.url}}" style="height:650px;" class="testi-overly d-block w-100" alt="sliderImg">
                  <div class="carousel-caption d-none d-md-block">
                      <h1 class="animate__animated
                      {% if forloop.counter0 == 0 %}
                      animate__fadeInDown
                      {% endif %}
                      {% if forloop.revcounter == 1 %}
                      animate__bounce
                      {% endif %}
                      {% if forloop.revcounter == 2 %}
                      animate__fadeInRight
                      {% endif %}"></h1>
                      {% comment %} <h3 class="animate__animated animate__zoomIn"></h3> {% endcomment %}
                      {% comment %} <a href="" class="button animate__animated animate__zoomIn mt-3 py-3 px-5 btn font-weight-bold"></a> {% endcomment %}
                  </div>
              </div>
              {% endfor %}
          </div>
        </div>
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{product.name}}</h1>
          {% comment %} <h1 class="text-gray-900 text-2xl title-font font-medium mb-1">{{product.get_rating|floatformat:1}}/5</h1> {% endcomment %}
          <h1 class="text-lightblue-900 text-3xl title-font font-medium mb-1">{{product.brand}}</h1>
          <div class="flex mb-4">
            <h3 class="text-gray-900 text-xl title-font font-medium mb-1 text-decoration-line-through">₹ {{product.price}} (original price)</h3>
          </div>
          {% comment %} <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5"> {% endcomment %}
            {% comment %} <div class="flex ml-6 items-center">
              <span class="mr-3">Quantity</span>
              <div class="relative">
                <select class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </div>
            </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}
          <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900">₹ {{product.discounted_price}}   (Flat {{ discount_percentage}}% Off)</span>
            {% comment %} <a href="{% url 'myapp:buynow' %}" class="flex ml-auto text-white bg-red-500 border-0 py-2 px-2 mx-3 focus:outline-none hover:bg-indigo-600 rounded">Buy Now</a> {% endcomment %}
            <form action="/buynow" >
              <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
              <button href="{% url 'myapp:buynow' %}" type="submit" class="flex ml-auto text-white bg-red-500 border-0 py-2 px-2 mx-3 focus:outline-none hover:bg-indigo-600 rounded">Buy Now</button>
            </form>

            {% if request.user.is_authenticated %}
              {% if in_cart_item %}
                <a href="{% url 'myapp:showcart' %}" class="flex ml-auto btn btn-warning text-black border-0 py-2 px-2 focus:outline-none hover:bg-indigo-600 rounded">Go to Cart</a>
              {% else %}
              <form action="/add-to-cart" >
                <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                <button href="{% url 'myapp:add-to-cart' %}" type="submit" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-2 focus:outline-none hover:bg-indigo-600 rounded">Add to Cart</button>
              </form>
              {% endif %}
            {% else %} 
              <form action="/add-to-cart" >
                <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                <button href="{% url 'myapp:add-to-cart' %}" type="submit" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-2 focus:outline-none hover:bg-indigo-600 rounded">Add to Cart</button>
              </form>
            {% endif %}  


          </div>
          </br>
          </br>
          <h3 class="text-blue-900 text-xl title-font font-medium mb-1">● {{product.availability}}</h3>
          <h3 class="text-green-900 text-xl title-font font-medium mb-1">● Will be Delivered before {{product.delivery_time}}</h3>
        </div>
        <hr>
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-10">
          <p class="text-gray-900 text-xl title-font font-medium mb-1 fs-4">Ratings & Reviews : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span class="fs-4 border border-success border-4 fw-bold text-success" style="padding:12px; border-radius:50px;">{{product.get_rating|floatformat:1}}<span></h1>
          <div class="notification space-below">
            {% if request.user.is_authenticated %}
              {% if in_order_item %}
                {% if not in_review_item %}
                  <form method="post" action="/productdetail/{{pk}}">
                    {% csrf_token %}
                    <div class="flex ml-0 items-center">
                      <span class="mr-3 my-4 ">Rate Product:</span>
                      <div class="relative">
                        <select name="stars" class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3" selected>3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                            <path d="M6 9l6 6 6-6"></path>
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="field">
                      <label class="form-label">Write a Review: </label>
                      <textarea class="form-control" rows="2" name="content" required></textarea>
                    </div>
                    <div class="field">
                      <div class="control">
                        <button type="submit" class="button is-success btn btn-primary btn-sm my-3" >Submit</button>
                      </div>
                    </div>
                  </form>
                {% endif %}  
              {% endif %}  
            {% else %}
              <p>Please<a href="{% url 'myapp:login' %}" > LOGIN </a>to add Reviews</p>          
            {% endif %}
        </div>
          <div class="reviews-wrapper">
              {% for review in product.reviews.all %}
                  <div class="notification space-below">
                      <p>
                        <p>{{review.content}}</p>
                        <span> {{review.stars }}/5</span>
                        <p>by <strong> {{review.user }}</strong> on {{review.date_added|date:"d-M-Y"}}</p>
                      </p>
                      <br>
                  </div>
                {%empty%}  
                    <div class="notification space-below">
                        No Reviews Yet.....
                    </div>
              {% endfor %}
          </div>
        </div>  
      </div>
    </div>
  </section>

  <div class="relative isolate overflow-hidden py-16 sm:py-24 lg:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
        <div class="max-w-xl lg:max-w-lg">
          <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Subscribe to our Newsletter.</h2>
          <p class="mt-4 text-lg text-gray-400 leading-8">Stay updated with our latest news and offers by subscribing to our newsletter. Receive exclusive discounts and promotions directly in your inbox. Don't miss out!</p>
            <form action="#" method="post">
              <div class="mt-6 flex max-w-md gap-x-4">
                <input id="email-address" name="email" type="email" autocomplete="email" required class="outline-none min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter your email">
                <button type="submit" class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Subscribe</button>
              </div>
            </form>
        </div>
        <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
          <div class="flex flex-col items-start">
            <div class="rounded-md p-2 ring-1">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
              </svg>
            </div>
            <dt class="mt-4 font-semibold">Weekly articles</dt>
            <dd class="mt-2 leading-7 text-gray-400">Explore our weekly articles covering a variety of topics. From industry insights to product updates, we've got you covered.</dd>
          </div>
          <div class="flex flex-col items-start">
            <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
              </svg>
            </div>
            <dt class="mt-4 font-semibold">No spam</dt>
            <dd class="mt-2 leading-7 text-gray-400">We promise not to spam your inbox. Enjoy relevant updates and information without the hassle of unwanted emails. Your privacy is important to us.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  
{% endblock content %}